body,html{
    height: 100%;
    margin:0;
    background-color: black;
    cursor:default;
    font-size: calc(0.5rem + 0.5vw)
}
*{
    margin:0;
    padding:0;
}
.no-scroll{
    overflow: hidden;
}
section{
    position:absolute;
    display:inline-block;
}
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    display:block;
}
.container{
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
}
#fullpage{
    width:100%;
    height: 100%;
    z-index:3;
}
.disable-scroll{
    /*overflow-y: hidden;*/
}
.slide{
    overflow:hidden;
}
#fullpage .title-page{
    display:flex;
    justify-content: center;
    align-items: center;
}
#fullpage .content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    width:100vw;
    height: 100vh;
    position: relative;
    /*scroll-snap-align: start;*/
}

.description-wrapper{
}
.description{
    font-size: 1rem;
}
.tech-list{
    
}
.tech-list-text{
    font-size:1rem;
    margin-right:1rem;
    opacity:0.5;
}


.projectHeading{
    color:white;
    z-index:2;
    position:relative;
}
.project .tech-list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-right: 2rem;
    justify-content: left;
}

.logo{
    width:4rem;
    height:4rem;
    display: inline-block;
    position:fixed;
    z-index: 1;
    top:1rem;
    left:1rem;
}

.uoe-img{
    width:100%;
    height:auto;
    display: inline-block;
    position:relative;
    z-index: 1;
}

.smu-img{
    width:60%;
    height:auto;
    display: inline-block;
    position:relative;
    z-index: 1;
}

.project-left{
    width: 30%;
    height: 50vh;
    position:relative;
    justify-content: right;
}
.tech-list{
    font-size: 1.5rem;
    margin:1rem;
}
#introduction{
    color:white;
    font-size: 5rem;
    font-family: "Consolas";
    position: relative;
    top: 40%;
    left:10%
}
/*
.image-slideshow{
    background: url('./assets/images/chess-gameplay-2.png');
    width:;
    height: 100%;
}
*/
h2 {
    color:white;
    font-size: 3rem;
}
.btn-small {
    padding: 0.5rem 1rem;
    text-decoration:none;
}
.github-icon {
    margin-right:0.4rem;
    margin-top:auto;
    margin-bottom:auto;
}
.btn-blue {
    color: white;
    background-color: #3b82f6;
    border: 0.125rem solid #3b82f6;
}
.btn, .btn-blue, .btn-dark, .btn-blue-outline {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    transition: all 0.3s;
    border-radius: 0.1875rem;
    border: none;
    cursor: pointer;
}

.nav-text-load-animation{
    opacity:0;
    animation: nav-load 4s ease-out forwards;
    animation-delay:6s;
}
.nav-text-animation{
    opacity:0;
    animation: nav-load-reversible 1s forwards;
}

.nav-left-text, .nav-right-text {
    
}

#arrowdown{
    opacity:0;
    animation: nav-load 4s ease-out forwards;
    animation-delay:6s;
}
.nav-left{
    left:2.5rem;
    transform: rotateZ(-90deg) translateX(-50%);
    transform-origin: 0 50%;
}
.nav-right{
    right:2.5rem;
    transform: rotateZ(90deg) translateX(-50%);
    transform-origin: 0 50%;
}
.nav-right-text, .nav-left-text{
    color: #ffffff;
    cursor:pointer;
}
.nav-home{
    visibility: hidden;
}

.nav-right-wrapper, .nav-left-wrapper {
    display: inline-block;
    padding: 0.625rem;
}
.nav-transform {
    z-index: 99;
    position: absolute;
    top: 50%;
}

#infoMenu a {
    color: #fff;
}

li{
    margin-right:1rem;
    opacity:1;
}

#section2 h1{
    color: #333;
}
.fp-slides{
    width:100%
}

.slide{
    display:flex !important;
    justify-content: center;
    align-items: center;
}

/*
.fp-slidesNav.bottom{
    bottom: 25px;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: white;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}
      
#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid #24221F;
}
*/

.section-navigation-wrapper{
    position:fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    right:0;
    z-index:9;
    color: #f2f2f2;
    padding: 1.25rem 0 0 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s, visibility 2s;
}
.section-navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.section-navigation li a{
    color: #ffffff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: inline-block;
  transition: transform 250ms;
  cursor: pointer;
  font-size: 0.8rem;
}
/* Change the link color on hover */
.section-navigation li a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.section-navigation-wrapper.visible {
    opacity: 1;
    visibility: visible;
}
.container{
    opacity:0;
    visibility: hidden;
}

.container.visible{
    opacity:1;
    visibility: visible;
}
#loading-screen{
	position: absolute;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 1;
 	transition: 1s opacity;
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 9rem;
    height: 9rem;
    margin: -4.6875rem 0 0 -4.6875rem;
    border-radius: 50%;
    border: 0.1875rem solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 0.3125rem;
    left: 0.3125rem;
    right: 0.3125rem;
    bottom: 0.3125rem;
    border-radius: 50%;
    border: 0.3125rem* solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 0.9375rem;
    left: 0.9375rem;
    right: 0.9375rem;
    bottom: 0.9375rem;
    border-radius: 50%;
    border: 0.3125rem solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
#arrowdown.invisible{
    opacity:0;
    visibility: hidden;
}
#arrowdown{
    display:block;
    position: absolute;
    bottom: 30px;
    right: 0;
    width: 44px;
    height: 80px;
    left: 50%;
    transform: translateX(-50%) scaleX(.5) scaleY(.5);
    cursor: pointer;
    z-index: 9;

    opacity: 1;
    visibility: visible;
}
.avatar-img{
    position: fixed;
    z-index: 0;
    bottom: 0;
    right: 27%;
    height: 75%;
    width: auto;
}
.page-subheading{
    z-index:2;
    width:75%
}
#arrowdown #arrowdown-trail{
    height: 80px;
    width: 1px;
    text-align: center;
    background-color: #aaa;
    position: absolute;
    transform-origin: 50% 0;
    margin-left: 22px;
    top: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#arrowdown .rotateLeft {
    position: absolute;
    bottom: 0;
    transform: rotate(45deg);
    margin-left: 22px;
}

#arrowdown .rotateRight {
    position: absolute;
    bottom: 0;
    transform: rotate(-45deg);
    margin-left: 22px;
}

#arrowdown .arrowdown-caps-one, #arrowdown .arrowdown-caps-two {
    position: absolute;
    bottom: 0;
    width: 1px;
    height: 16px;
    transform-origin: 50% 100%;
    background-color: #aaa;
}

#skills-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

#fullpage .information-slide .projectHeading{
    text-align:center;
}
.information-slide{
    width:75%
}
#skills-wrapper .skill{
    padding:2rem
}

#skills-wrapper .skill .icon{

}
.education-ex{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin:1rem 0;
    padding-right:1rem;
    height:auto;
}

.image-col{
    flex: 0 0 20%;
    align-items:center;
    display:flex;
    justify-content: center;
}
.info-col{
    flex: 0 0 80%
}
.info-col h4{
    margin: 0.5rem 0;
}
.info-col .year{
    color:#3b82f6;
    font-size: 2rem;
}
.info-col ul{
    padding-left: 1.5rem;
}
.info-col ul ul{
    padding-left: 1.5rem;
}
#contact-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contact-wrapper .contact-block{
    margin:1rem;
    text-align:center;
}

#contact-wrapper .contact-block a{
    color: #3b82f6;
    cursor: pointer;
}

.line{
    width:5px;
    height:100%;
    color:white;
}

.page-heading{
    opacity:0;
    animation: title_load 4s ease-out forwards;
    animation-delay:4s;
}

.page-subheading{
    opacity:0;
    animation: title_load 4s ease-out forwards;
    animation-delay:5s;
}

#blocker{
    width:100%;
}

.avatar-img{
    opacity:0;
    animation: fadeIn 2s ease-in forwards;
    animation-delay: 5s;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }

@keyframes title_load{
    from { transform: translateY(-50px); opacity:0 }
    to { transform: translateY(0px); opacity:1 }
}

@keyframes nav-load{
    from { opacity:0 }
    to { opacity:0.5 }
}

@keyframes nav-load-reversible{
    0% {
        opacity:0.5;
    }
    5%{
        opacity:0;
    }
    100%{
        opacity:0.5;
    }
}

@media (prefers-reduced-motion: no-preference){
    .animated{
        animation: fadeIn 10s;
        opacity:100%;
    }
}
@media only screen and (max-width: 700px){
    .section-navigation{
        visibility: hidden;
        opacity:0;
    }
    .project-left{
        width:60%
    }
    #titles{
        top:25%;
        position:fixed;
    }
}

