body,html{
    height: 100%;
    margin:0;
    background-color: burlywood;
}
*{
    margin:0;
    padding:0;
}
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
}

#fullpage{
    width:100%;
    height: 100%;
    z-index:3
    /*scroll-snap-type: y mandatory;
    overflow-y: scroll;*/
}
.disable-scroll{
    /*overflow-y: hidden;*/
}

#fullpage .content{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    /*scroll-snap-align: start;*/
}

.parallax{
    background: url("./assets/images/river_forest_sunset_144468_3840x2160.jpg");
    height: 1000px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projectHeading{
    color:white;
    z-index:2;
    position:relative;
}
.project .tech-list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-right: 2rem;
    justify-content: left;
}

.logo{
    width:75px;
    height:75px;
    display: inline-block;
    position:fixed;
    z-index: 1;
    top:10px;
    left:10px;
}
#scrollProgress {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 99;
    font-size: 3vh;
    color:white;
}
.project-left{
    width: 25%;
    height: 50vh;
    justify-content: left;
}
.tech-list{
    font-size: 1.5rem;
    margin:1rem;
}
#introduction{
    color:white;
    font-size: 100px;
    font-family: "Consolas";
    position: relative;
    top: 40%;
    left:10%
}
/*
.image-slideshow{
    background: url('./assets/images/chess-gameplay-2.png');
    width:;
    height: 100%;
}
*/
h2 {
    color:white;
    font-size: 7vmin;
}
.btn-small {
    padding: 0.5rem 1rem;
}
.btn-blue {
    color: white;
    background-color: #3b82f6;
    border: 2px solid #3b82f6;
}
.btn, .btn-blue, .btn-dark, .btn-blue-outline {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    transition: all 0.3s;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
@keyframes fadeIn{
    0% { opacity:0;}
    100% { opacity: 100%;}
}
@media (prefers-reduced-motion: no-preference){
    .animated{
        animation: fadeIn 10s;
        opacity:100%;
    }
}
