body,html{
    height: 100%;
    margin:0;
    background-color: burlywood;
}
*{
    margin:0;
    padding:0;
}
section{
    position:absolute;
    display:inline-block;
}
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
}
.container{
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
}
#fullpage{
    width:100%;
    height: 100%;
    z-index:3;
}
.disable-scroll{
    /*overflow-y: hidden;*/
}
.slide{
    overflow:hidden;
}
#fullpage .title-page{
    display:flex;
    justify-content: center;
    align-items: center;
}
#fullpage .content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    width:100vw;
    height: 100vh;
    position: relative;
    /*scroll-snap-align: start;*/
}

.description-wrapper{
}
.description{
    font-size: 14px
}
.tech-list{
    
}
.tech-list-text{
    font-size:14px;
    margin-right:1rem;
    opacity:0.5;
}
.parallax{
    background: url("./assets/images/river_forest_sunset_144468_3840x2160.jpg");
    height: 1000px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projectHeading{
    color:white;
    z-index:2;
    position:relative;
}
.project .tech-list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-right: 2rem;
    justify-content: left;
}

.logo{
    width:75px;
    height:75px;
    display: inline-block;
    position:fixed;
    z-index: 1;
    top:10px;
    left:10px;
}
#scrollProgress {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 99;
    font-size: 3vh;
    color:white;
}
.project-left{
    width: 25%;
    height: 50vh;
    position:relative;
    justify-content: right;
}
.tech-list{
    font-size: 1.5rem;
    margin:1rem;
}
#introduction{
    color:white;
    font-size: 100px;
    font-family: "Consolas";
    position: relative;
    top: 40%;
    left:10%
}
/*
.image-slideshow{
    background: url('./assets/images/chess-gameplay-2.png');
    width:;
    height: 100%;
}
*/
h2 {
    color:white;
    font-size: 7vmin;
}
.btn-small {
    padding: 0.5rem 1rem;
    text-decoration:none;
}
.github-icon {
    margin-right:0.4rem;
    margin-top:auto;
    margin-bottom:auto;
}
.btn-blue {
    color: white;
    background-color: #3b82f6;
    border: 2px solid #3b82f6;
}
.btn, .btn-blue, .btn-dark, .btn-blue-outline {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    transition: all 0.3s;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.nav {

}
.nav-left{
    left:40px;
    transform: rotateZ(-90deg) translateX(-50%);
    transform-origin: 0 50%;
}
.nav-right{
    right:40px;
    transform: rotateZ(90deg) translateX(-50%);
    transform-origin: 0 50%;
}
.nav-right-text, .nav-left-text{
    color: #ffffff;
    opacity: .5;
    cursor: pointer;
    transition: opacity 3s
}
.nav-home{
    visibility: hidden;
}

.nav-right-wrapper, .nav-left-wrapper {
    display: inline-block;
    padding: 10px;
}
.nav-transform {
    z-index: 99;
    position: absolute;
    top: 50%;
}

#infoMenu a {
    color: #fff;
}

li{
    margin-right:1rem;
    opacity:1;
}

#section2 h1{
    color: #333;
}
.fp-slides{
    width:100%
}

.slide{
    display:flex !important;
    justify-content: center;
    align-items: center;
}

/*
.fp-slidesNav.bottom{
    bottom: 25px;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: white;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}
      
#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid #24221F;
}
*/

.section-navigation-wrapper{
    position:fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    right:0;
    z-index:9;
    color: #f2f2f2;
    padding: 20px 0 0 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s, visibility 2s;
}
.section-navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.section-navigation li a{
    color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
  display: inline-block;
  transition: transform 250ms;
  cursor: pointer;
}
/* Change the link color on hover */
.section-navigation li a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.section-navigation-wrapper.visible {
    opacity: 1;
    visibility: visible;
}

#loading-screen{
	position: absolute;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 1;
 	transition: 1s opacity;
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }

@media (prefers-reduced-motion: no-preference){
    .animated{
        animation: fadeIn 10s;
        opacity:100%;
    }
}
